<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193195765513-g7n2v9f2npr4o429lk1np489be7vd7pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193195765513-g7n2v9f2npr4o429lk1np489be7vd7pk</string>
	<key>API_KEY</key>
	<string>AIzaSyAvkNr_JyBMm_9U-XaQDi39L9ouRuXdFkE</string>
	<key>GCM_SENDER_ID</key>
	<string>193195765513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.devpaul.pollaFutbolera</string>
	<key>PROJECT_ID</key>
	<string>pollafutbolera-9c9c5</string>
	<key>STORAGE_BUCKET</key>
	<string>pollafutbolera-9c9c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193195765513:ios:c0517384717a007e28edd8</string>
</dict>
</plist>